.advanced-search {
    h1 {
		font-size: 1.8em;
	}

	h2 {
		font-size: 1.5em;
	}

	.tabs {
		.tab {
			a {
				color: #8cbeb2;
			}
		}

		.indicator {
			background-color: #8cbeb2;;
		}
	}

	.chip {
		border-radius: 0;
		margin: 3px;
		background: #8cbeb2;
		color: white;
	}

	.chips {
		.input {
			width: 120px!important;
		}
	}
}
