.advanced-search {
	height: 125px;
	background-color: rgba(white, 0.65);

    h1 {
		font-size: 1.8em;
	}

	h2 {
		font-size: 1.5em;
	}

	.z-depth-1 {
		box-shadow: none;
	}

	.tabs {
		background-color: rgba(white, 0.7);

		.tab {

			a {
				color: black;
				i {
					vertical-align: middle;
				}
			}
		}

		.indicator {
			background-color: black;
		}
	}

	.ingredients {
		.chip {
			border-radius: 0;
			margin: 3px;
			background: rgba(black, 0.8);
			font-weight: bold;
			color: white;
		}

		.chips {
			padding: 0 5px;
			.input {
				width: 120px!important;
				padding: 5px !important;
				height: 20px;
				background-color: rgba(0, 0, 0, 0.5) !important;
				font-weight: normal;
			}
		}
	}

	.required-time {
		color: black;

		.range-field {
			margin: 0;

			input,
			input[type=range] {
				padding: 0 !important;
				margin: 0;
			}

			.thumb {
				background: rgba(black, 0.8);
			}
		}
	}

	p {
		padding: 0 5px;
		margin: 0;
		font-weight: bold;
		color: black;
	}
}
