<template>
	<div class="container advanced-search">
		<h1>Advanced Search</h1>
		<div class="row">
			<div class="col s12 m6">
				<h2>Ingredients</h2>
				<div md-chips="data.bind: ingredients"></div>
				<!--<div>Value:
					<span repeat.for="ingredient of ingredients">
            ${ingredient.tag}</span>
				</div>-->
			</div>
			<div class="col s12 m6">

				<h2>Time Required</h2>
				<md-range md-value.bind="time"></md-range>
				<!--<div>
					Value: ${time}
				</div>-->
			</div>
		</div>
	</div>
</template>
