<template>
    <footer class="page-footer blue-grey darken-1" id="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l4 s12">
                    <h5 class="white-text" i18n="nav.links">links</h5>
                    <ul>
                        <!-- <li><a href="#/home/about" class="grey-text text-lighten-3" i18n="nav.about">About</a></li> -->
                        <li><a href="#/typeform" class="grey-text text-lighten-3" i18n="nav.contact">Contact</a></li>
                        <li><a href="https://www.facebook.com/eleemenu/" class="grey-text text-lighten-3 hide-on-med-and-down">Facebook</a></li>
                        <li><a href="https://twitter.com/eleemenu" class="grey-text text-lighten-3 hide-on-med-and-down">Twitter</a></li>
                        <li><a href="fb://page/1745012672451697" class="grey-text text-lighten-3 hide-on-large-only">Facebook</a></li>
                        <li><a href="twitter://user?user_id=747608306567495680" class="grey-text text-lighten-3 hide-on-large-only">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2016 Elee.menu
                <p class="grey-text text-lighten-4 right">Made with love.</p>
            </div>
        </div>
    </footer>
</template>
