.active-timer.au-enter-active {
    -webkit-animation: fadeIn 0.5s ease-in-out, backgroundHighlight 2s ease-in-out;
    -moz-animation: fadeIn 0.5s ease-in-out, backgroundHighlight 2s ease-in-out;
    animation: fadeIn 0.5s ease-in-out, backgroundHighlight 2s ease-in-out;
}
.active-timer.au-leave-active {
    -webkit-animation: fadeIn 0.5s ease-in-out reverse;
    -moz-animation: fadeIn 0.5s ease-in-out reverse;
    animation: fadeIn 0.5s ease-in-out reverse;
}

.dropdown-content.au-enter-active {
    -webkit-animation: fadeIn 0.2s ease-in-out;
    -moz-animation: fadeIn 0.2s ease-in-out;
    animation: fadeIn 0.2s ease-in-out;
}
.dropdown-content.au-leave-active {
    -webkit-animation: fadeIn 0.2s ease-in-out reverse;
    -moz-animation: fadeIn 0.2s ease-in-out reverse;
    animation: fadeIn 0.2s ease-in-out reverse;
}

#recipe-content.au-enter-active {
    -webkit-animation: fadeIn 0.5s ease-in-out;
    -moz-animation: fadeIn 0.5s ease-in-out;
    animation: fadeIn 0.5s ease-in-out;
}

.subrecipe-title-animation-add {
    -webkit-animation: quickFadeDisplayIn 1s;
    -moz-animation: quickFadeDisplayIn 1s;
    animation: quickFadeDisplayIn 1s;
}

.subrecipe-title-animation-remove {
    -webkit-animation: quickFadeDisplayOut 1s;
    -moz-animation: quickFadeDisplayOut 1s;
    animation: quickFadeDisplayOut 1s;
}

@-webkit-keyframes quickFadeDisplayIn {
    0% {
        visibility: visible;
        opacity: 0;
    }
    30% { opacity: 1; }
    100% { opacity: 1 }
}
@-moz-keyframes quickFadeDisplayIn {
    0% {
        visibility: visible;
        opacity: 0;
    }
    30% { opacity: 1; }
    100% { opacity: 1 }
}
@keyframes quickFadeDisplayIn {
    0% {
        visibility: visible;
        opacity: 0;
    }
    30% { opacity: 1; }
    100% { opacity: 1 }
}

@-webkit-keyframes quickFadeDisplayOut {
    0% {
        opacity: 1;
        visibility: visible;
    }
    70% { opacity: 0; }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@-moz-keyframes quickFadeDisplayOut {
    0% {
        opacity: 1;
        visibility: visible;
    }
    70% { opacity: 0; }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes quickFadeDisplayOut {
    0% {
        opacity: 1;
        visibility: visible;
    }
    70% { opacity: 0; }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@-webkit-keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes backgroundHighlight {
    0% { background-color: rgba(226, 225, 221, 0.3); }
    100% { background-color: rgba(29, 30, 34, 0.1); }
}
@-moz-keyframes backgroundHighlight {
    0% { background-color: rgba(226, 225, 221, 0.3); }
    100% { background-color: rgba(29, 30, 34, 0.1); }
}
@keyframes backgroundHighlight {
    0% { background-color: rgba(226, 225, 221, 0.3); }
    100% { background-color: rgba(29, 30, 34, 0.1); }
}
