#help-overlay {
    .slider .slides img {
        &.x-right {
            background-position-x: right;
        }
        &.x-left {
            background-position-x: left;
        }
        &.y-bottom {
            background-position-y: bottom;
        }
        &.y-top {
            background-position-y: top;
        }
    }
    .slider .slides li .caption.bottom {
        top: initial;
        bottom: 15%;
    }
}
