$quick-recipe-ingredients-side-width: 396px;

$quick-recipe-first-level-opacity: 0.3;
$quick-recipe-second-level-opacity: 0.1;

$quick-recipe-first-level-padding: 60px;
$quick-recipe-second-level-padding: 140px;

$quick-recipe-header-height: 70px;
$quick-recipe-header-color: rgba(220, 220, 222, 1);

$quick-recipe-footer-height: 42px;
$quick-recipe-footer-color: rgba(220, 220, 222, 1);

$quick-sub-recipe-color: rgba(198, 236, 255, 0.5);

$primary-color: rgb(220, 220, 222);
