.E133 {
    @import "help-overlay";
    
    .quick-recipe {
        @import "core";
        @import "variables";
        @import "quick-recipe-header";
        @import "quick-recipe-footer";
        @import "animations";
        @import "../../../shared/assets/css/variables";

        .btn {
            background-color: rgba(255, 175, 75, 1);

            &:hover {
                background-color: rgba(178, 114, 35, 1);
            }
        }

        main {
            height: calc(100vh - #{$quick-recipe-header-height} - #{$quick-recipe-footer-height});
            margin-bottom: 0;

            #ingredients {
                position: fixed;
                height: inherit;
                padding: 0;

                .panel {
                    height: calc(100% - 1rem);
                    overflow-y: overlay;
                    margin: 0.5rem;
                }

                .card-image {
                    height: $quick-recipe-ingredients-image-height;
                    overflow: hidden;

                    img {
                        top: -100%;
                        filter:blur(5px);
                        -moz-filter: blur(5px);
                        -o-filter: blur(5px);
                        -ms-filter: blur(5px);
                        -webkit-filter: blur(1px);
                    }
                    .after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, .4);
                    }
                }
                .card-content {
                    height: calc(100% - #{$quick-recipe-ingredients-image-height});
                    overflow: inherit;

                    .ingredient-item {
                        &.done {
                            text-decoration: line-through;
                            opacity: 0.6;
                        }
                        &.current {
                            font-weight: 600;
                        }
                    }
                }
            }

            #instructions {
                height: 100%;
                overflow: hidden;
                overflow-y: auto;
                position: relative;
                padding: 0;

                .section {
                    padding: 1rem;
                }

                .navbar {
                    background-color: $quick-recipe-content-color;
                    color: black;
                    padding: 0;
                    position: fixed;
                    z-index: 3;
                    top: $quick-recipe-header-height;

                    .subrecipe-titles {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        flex-wrap: nowrap;

                        .subrecipe-title {
                            color: rgba(0, 0, 0, 0.5);
                            flex-grow: 1;
                            text-align: center;
                            cursor: default;
                            &:hover {
                                background: rgba(0, 0, 0, 0.1);
                            }
                            & a:hover {
                                background: none;
                            }
                            &.active {
                                color: rgba(0, 0, 0, 1);
                                transition: color 0.3s ease-in-out;
                                background: rgba(0, 0, 0, 0.2);

                                &:hover {
                                }
                            }

                            .progression {
                                margin-left: 10px;
                                font-size: 0.8rem;
                            }
                            .timers {
                                i {
                                    display: inherit;
                                    font-size: initial;
                                    vertical-align: middle;
                                    font-size: 2rem;
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                }
                nav ul a {
                    color: inherit;
                    padding: inherit;
                    width: 100%;
                }

                #presentation-section {
                    margin: 0 0.5rem 0.5rem;
                    height: calc(100% - 0.5rem);
                    overflow-y: inherit;
                }

                #recipe-content {
                    height: inherit;
                    position: absolute;

                    .navigation-pills {
                        z-index: 1;
                        position: fixed;
                        top: 40%;
                        right: 0;
                        width: 80px;
                        margin: 0 10px;

                        .btn {
                            display: block;
                            margin: 2px 0;
                            padding: 0 1rem;

                            &:first-of-type {
                                border-radius: 20px 20px 0 0;
                            }
                            &:last-of-type {
                                border-radius: 0 0 20px 20px;
                            }
                        }
                    }

                    .subrecipe {
                        .subrecipe-title {
                            visibility: hidden;
                            height: 100%;
                            position: fixed;
                            width: 100%;
                            top: 0;
                            z-index: 2;
                            background-color: white;
                            opacity: 0;

                            .title {
                                height: initial;
                            }
                        }

                        &:first-of-type {
                            margin-top: 30vh;
                        }
                        &:last-of-type {
                            margin-bottom: 30vh;
                        }

                        .steps {
                            margin-right: 100px;
                        }
                    }

                    .step-actions {
                        z-index: 1;
                        position: fixed;
                        bottom: calc(#{$quick-recipe-footer-height} + 10px);
                        right: 10px;
                    }

                    .step {
                        font-size: 1em;
                        opacity: 0.15;
                        transition: opacity 0.2s ease-in-out, font-size 0.1s ease-in-out;
                        padding: 4rem 2rem;
                        display: block;
                        position: relative;

                        .enumeration {
                            margin: 1rem 2rem 1rem 3rem;

                            .collection-item {
                                [type="checkbox"] + label {
                                    // margin-left: 2rem;
                                    height: 1.5rem;
                                    display: none;
                                }
                                [type="checkbox"]:not(.filled-in) + label:after {
                                    transform: none;
                                }
                                .emphasis {
                                    font-size: 1.5em;
                                }
                            }
                        }

                        .emphasis {
                            font-size: 2em;
                        }

                        .technical {
                            font-size: 2em;
                            line-height: 3rem;
                        }

                        .timer {
                            a {
                                font-size: 1rem;
                            }
                            .btn {
                                padding: 0 1rem;
                                margin: 0 1rem;
                            }
                        }
                        &.active {
                            opacity: 1;

                            .enumeration {
                                .collection-item {
                                    [type="checkbox"] + label {
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                        &.complete {
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }

        @media #{$small-and-down} {
            main #instructions #recipe-content {
                .step {
                    padding: 4rem 1rem;

                    .enumeration {
                        margin: 1rem 0 1rem 1rem;

                        .collection-item {
                            padding: 10px 0;
                            .emphasis {
                                font-size: 1.3em;
                            }
                        }
                    }
                    .emphasis {
                        font-size: 1.5em;
                    }
                    .technical {
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}
