.quick-recipe .row {
  margin: 0;
}
.quick-recipe header {
  height: 102px;
}
@media only screen and (min-width: 601px) {
  .quick-recipe header nav {
    line-height: 102px;
  }
  .quick-recipe header .navbar-fixed {
    height: 100%;
  }
}
.quick-recipe header .dropdown-button {
  height: 102px;
  cursor: pointer;
}
.quick-recipe header .dropdown-button > * {
  line-height: 102px;
  height: 102px;
}
.quick-recipe header .dropdown-button.active {
  background-color: rgba(51, 51, 51, 0.08);
}
.quick-recipe header nav {
  box-shadow: none;
  height: 102px;
  border-bottom: 1px solid #66676f;
}
.quick-recipe header nav .header-dropdown {
  position: relative;
}
.quick-recipe header nav .recipe-info .dropdown-content {
  position: fixed;
  z-index: 10;
  top: 101px;
  left: 0;
  position: absolute;
  top: calc(99.54px);
  display: block;
  border: 1px solid #66676f;
  opacity: 1;
  width: 400px;
}
.quick-recipe header nav .active-timers .dropdown-content {
  position: fixed;
  z-index: 10;
  right: -1px;
  position: absolute;
  top: calc(100.54px);
  display: block;
  border: 1px solid #66676f;
  opacity: 1;
  width: 400px;
}
.quick-recipe header nav .active-timers .dropdown-content .collection {
  border: none;
  margin: 0;
  padding: 10px;
  overflow: inherit;
}
.quick-recipe header nav .active-timers .dropdown-content .collection .collection-item {
  background: none;
  height: inherit;
  padding: 0;
}
.quick-recipe header nav .active-timers .dropdown-content .collection .collection-item .circle {
  height: 20px;
  width: 20px;
}
.quick-recipe header nav .active-timers .dropdown-content .collection .collection-item i.circle {
  font-size: 22px;
  line-height: 20px;
  border-radius: 0;
  background: none !important;
  color: black;
  display: inline-block;
}
.quick-recipe header nav .active-timers .dropdown-content .collection .collection-item .title {
  font-size: 1rem;
  padding: 0;
  display: inline-block;
}
.quick-recipe header nav .active-timers .dropdown-content .collection .collection-item p {
  display: inline-block;
  font-size: 1.2rem;
}
.quick-recipe header nav .active-timers .dropdown-content .collection .collection-item .secondary-content {
  font-size: 0.3rem;
  color: black;
  display: inline-block;
  padding: 0;
}
.quick-recipe header nav .active-timers .dropdown-content .collection .collection-item .secondary-content a {
  font-size: 0.3rem;
  color: black;
  display: inline-block;
  padding: 0;
}
.quick-recipe header nav .active-timers .dropdown-button {
  position: absolute;
  width: 102px;
  text-align: center;
  top: 0;
  right: 0;
}
.quick-recipe header nav .active-timers .dropdown-button.active {
  background-color: rgba(51, 51, 51, 0.08);
}
.quick-recipe main {
  padding: 10px;
}
.quick-recipe main .ingredients {
  padding: 10px;
  width: 396px;
  margin-bottom: 42px;
}
.quick-recipe main .ingredients .border-box {
  padding: 8px;
  height: calc(100vh - 184px);
  overflow-y: auto;
}
.quick-recipe main .ingredients .border-box .content .title {
  width: 358px;
  height: 125px;
  min-height: inherit;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #9e9fa4;
  z-index: 1;
}
.quick-recipe main .ingredients .border-box .content .ingredient-list {
  padding: 20px 40px;
  border: none;
}
.quick-recipe main .ingredients .border-box .content .ingredient-list .ingredient-item {
  padding: 10px;
  border: none;
  background: none;
}
.quick-recipe main .ingredients .border-box .content .ingredient-list .ingredient-item .select-wrapper input.select-dropdown {
  width: 100px;
}
.quick-recipe main .ingredients .border-box .content .ingredient-list .ingredient-item.current-step {
  font-weight: 500;
}
.quick-recipe main .main {
  width: calc(100% - 396px);
  height: calc(100vh - 165px);
  overflow-y: auto;
}
.quick-recipe main .main .step {
  line-height: 2.5rem;
}
.quick-recipe main .main .step .action {
  font-size: 2.5rem;
  font-weight: 500;
}
.quick-recipe main .main .step .ingredient .value {
  font-size: 2rem;
}
.quick-recipe main .main .step .ingredient .unit {
  font-size: 2rem;
}
.quick-recipe main .main .step .ingredient .type {
  font-size: 2rem;
}
.quick-recipe main .main .step .ingredient .requirements {
  font-size: 1.7rem;
}
.quick-recipe main .main .step .timer {
  color: dodgerblue;
  font-size: 1.5rem;
}
