#welcome-container {
	nav {
		background-color: transparent;
		transition: background-color .2s;
		position: absolute;
		z-index: 999;
		height: 80px;
		line-height: 80px;

		.container {
			width: 80%;
		}

		.brand-logo {
			position: relative;
		}

		a {
			color: black;
		}
	}
	.input-field input[type=search]:focus {
		background-color: rgba(255, 255, 255, 0.7);
	}

	.btn,
	.btn-large {
		border-radius: 0;
		border: 2px white solid;
		background-color: transparent;
	}

	.container {
		width: 90%;
	}
	@media only screen and (max-width: 600px) {
		.container {
			width: 80%;
		}
	}

	.col.offset-s3 {
		margin-left: 25%;
	}

	.underline-title {
		margin: 50px auto;

		.title {
			font-size: 2rem;
			font-weight: 600;
			margin: 50px auto 0;
		}

		.title + hr {
			width: 10%;
			margin: 20px auto 0;
			border: none;
			background-color: black;
			height: 3px;
		}
		.title + hr {
			width: 10%;
		}
	}
	@media only screen and (max-width: 600px) {
		.underline-title {
			margin: 20px auto;

			.title + hr {
				width: 50%;
			}
		}
	}

	#title-container {
	    padding: 80px 20px 0;

		.banner-container {
			background-color: rgba(0, 70, 80, 0.3);
		    box-shadow: inset 0px 0px 15px -1px rgba(0, 0, 0, 0.5);
		    border-radius: 6px;
		    position: relative;
		    padding: 40px 0;
		}
	}

	#search-container {
		background-image: url("/dist/welcome/assets/images/teaser_bg.jpg");

		.recipe-search {
		    padding: 120px 0 40px;

			.caret {
				display: none;
			}

			input {
				color: white;
				text-align: center;
				font-size: 1.6rem;
				text-transform: uppercase;
			}
		}
	}

	#features-container {
		padding: 70px 40px 50px;
		background: #efefef;
		color: #2d2d2d;

		.row .col {
			padding: 0 1.5rem;
		}

		.icon {
			color: #8cbeb2;
			font-size: 5rem;
		}
		.promo-caption {
			font-weight: 600;
  			font-size: 1.2rem;
		}
		.light {
			color: #707070;
		}
	}

	#moar-to-come-container {
		background: white;
		color: #2d2d2d;

		.description {
			position: relative;

			.image {
				height: 100%;
				position: absolute;

				img {
					width: 100%;
				}
			}
		}

		.light {
			color: #707070;
		}

		.collection,
		.collection .collection-item {
			border: none;
		}
	}

	.popular-categories-container {
		padding: 30px 90px 50px;
		background: white;
		color: #2d2d2d;

		.row .col {
			padding: 0 0.4rem;
		}

		.card {
			color: white;
			text-transform: uppercase;
			border-radius: 0;

			.card-image {
				height: 240px;
				-webkit-filter: blur(1px);
				-moz-filter: blur(1px);
				-o-filter: blur(1px);
				-ms-filter: blur(1px);
				filter: blur(1px);

				img {
					height: 100%;
				}
			}
			.card-content {
				padding: 0;
				border-radius: 0;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.35);
			}
			.card-title {
				font-size: 3rem;
				line-height: 3rem;
				bottom: inherit;
				top: 0;
				width: 100%;
				height: 158px;

				div {
					width: 100%;
				}
			}
			.card-action {
				padding: 10px 0 35px;
				position: absolute;
				width: 100%;
				bottom: 0;
				border-top: none;

				a {
					color: white;
					margin: 0;
  					box-shadow: none;
					padding: 0px 22px;
					height: 100%;
					line-height: 42px;
				}
				a:hover {
					background-color: rgba(255, 255, 255, 0.2);
					transition: background-color .3s ease;
				}
			}
		}

		.browse-button {
			color: white;
			background: #8cbeb2;
			border: none;
		}
	}

	@media only screen and (max-width: 992px) {
		.promo p {
			line-height: 1.5rem;
		}
	}
}
