@import "../../../../shared/assets/css/variables";

#welcome-container {
	.btn {
		border-radius: 0;
	}

	.container {
		width: 90%;
	}

	.underline-title {
		margin: 50px auto;

		.title {
			font-size: 2rem;
			font-weight: 600;
			margin: 50px auto 0;
		}

		.title + hr {
			width: 10%;
			margin: 20px auto 0;
			border: none;
			background-color: black;
			height: 3px;
		}
		.title + hr {
			width: 10%;
		}
	}

	#search-container {
		background-image: url("/dist/app/website/welcome/assets/images/teaser_bg.jpg");
		background-size: cover;
		height: 500px;
		position: relative;

		.btn {
			border: 2px white solid;
			background-color: transparent;
		}

		.recipe-search {
			padding: 3rem 0;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;

			.caret {
				display: none;
			}

			.input-field i {
				top: 18%;
				color: white;
			}
			input {
				text-align: center;
				text-transform: uppercase;
				margin-left: 0;
			    margin-bottom: 0;
				background-color: rgba(255, 255, 255, 0.25);
			    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
			    padding: 4px 0;
			}
			.search-button {
				background-color: rgba(255, 255, 255, 0.25);
			    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
			    border-left: 1px solid rgba(255, 255, 255, 0.6);
			    padding: 4px 0;

				&:hover {
					background-color: rgba(255, 255, 255, 0.5);
				}
				span {
					height: 3rem;
					padding: 10px 20px;
					display: block;
				}
			}

			.autocomplete-content {
				margin-top: -15px;
				display: block;
				opacity: 1;
				position: static;

				width: 100%;
			    position: absolute;
			    top: 0;
			    margin-top: 56px;

				.collection-item.avatar {
					min-height: inherit;
				}
			}
		}
	}

	#results-container {
		.card {
			border-radius: 0;

			.card-content .card-title {
				line-height: normal;
			}
		}
	}

	#description-container {
		padding: 3rem 2rem;
		background: #efefef;
	}

	#how-it-works-container {
		padding: 3rem 0;
	}

	#features-container {
		padding: 5rem 3rem 4rem;
		background: #efefef;
		color: #2d2d2d;

		.icon {
			color: #8cbeb2;
			font-size: 5rem;
		}
		.promo-caption {
			font-weight: 600;
			font-size: 1.2rem;
		}
		.light {
			color: #707070;
		}
	}

	#moar-to-come-container {
		background: white;
		color: #2d2d2d;

		.description {
			position: relative;

			.image {
				height: 100%;
				position: absolute;

				img {
					height: 100%;
				}
			}
		}

		.light {
			color: #707070;
		}
	}

	@media #{$small-and-down} {
		.container {
			width: 80%;
		}

		.underline-title {
			margin: 20px auto;

			.title + hr {
				width: 50%;
			}
		}
	}

	@media #{$medium-and-down} {
		.promo p {
			line-height: 1.5rem;
		}
	}
}
