@import "../../../../shared/assets/css/variables";

.E133 #welcome-container {
	// h1 {
	// 	font-family: "Suranna", serif;
	// }

	.btn {
		border-radius: 0;
	}

	.container {
		width: 90%;
	}

	.underline-title {
		margin: 50px auto;

		.title {
			font-size: 2rem;
			font-weight: 600;
			margin: 50px auto 0;
		}

		.title + hr {
			width: 10%;
			margin: 20px auto 0;
			border: none;
			background-color: black;
			height: 3px;
		}
		.title + hr {
			width: 10%;
		}
	}

	#search-container {
		background-image: url("/dist/app/website/welcome/assets/images/teaser_bg.jpg");
		background-size: cover;
		height: 450px;
		position: relative;

		.btn {
			border: 2px white solid;
			background-color: transparent;
		}

		.recipe-search {
			padding: 3rem 0;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;

			.input-field i {
				top: 18%;
				left: 2%;
				color: white;
			}
			.input-field button {
				width: 50px;
			    padding: 4px 0;

				&:hover {
					background-color: rgba(255, 255, 255, 0.25);
				}
			}
			input {
				text-align: left;
				margin-left: 0;
			    margin-bottom: 0;
				background-color: rgba(255, 255, 255, 0.25);
			    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
			    padding: 4px 8px;
				width: calc(100% - 70px);
			}
		}

		.advanced-search-container {
			padding: 0 0 5px 0;
			font-weight: bold;

			i {
				vertical-align: middle;
			}
		}
	}

	#results-container {
		.card {
			border-radius: 0;

			.card-content .card-title {
				line-height: normal;
			}
		}
	}

	#featured-container {
		padding:28px 0;

		.featured {
			&__content {
				margin-top:30px;
			}
			&__thumb--link {
				display: block;
				font-size:18px;

				&:hover {
					opacity: .7;
				}
			}
			&__thumb {
				overflow:hidden;
				padding-bottom:56.7%;
				position:relative;

				img {
					width:100%;
					height:auto;
					position:absolute;
					top:0;
					left:0;
				}
			}
			&__title {
				font-size:inherit;
			}
		}
	}

	@media #{$small-and-down} {
		.container {
			width: 80%;
		}

		.underline-title {
			margin: 20px auto;

			.title + hr {
				width: 50%;
			}
		}
	}
}
