<template>
	<form submit.delegate="send()" role="form">
		<div class="row">
			<div class="input-field col s8 offset-s2">
				<textarea value.bind="comments" id="comments" rows="6" minlength="5"></textarea>
				<label for="comments">${'comments.yourMessage' | t}</label>
			</div>
		</div>
		<div class="row">
			<p class="center">${'comments.emailForUpdates' | t}</p>
			<div class="input-field col s8 offset-s2">
				<input value.bind="contactEmail" id="contactEmail" type="email">
				<label for="contactEmail">${'comments.email' | t}</label>
			</div>
		</div>
		<div class="row" if.bind="isSent">
			<p>${'comments.thankYouMessage' | t}</p>
		</div>
		<div class="row center">
			<button id="send-message" class="btn btn-large btn-success waves-effect waves-light">
				${'comments.sendButton' | t}
				<i class="material-icons right">send</i>
			</button>
		</div>
	</form>
</template>
