<template>
	<require from="app/shared/value-converters/quantity-human-format"></require>

	<span class="ingredient">
		<span class="emphasis">
			${convertibleMeasureUnit | quantityHumanFormat}
		</span>

		<span if.bind="showBoth">
			(
			<span class="emphasis">
				${offConvertibleMeasureUnit | quantityHumanFormat: false}
			</span>
			)
		</span>

		<span>${nextWord} </span>
		<span class="emphasis">${ingredientName} <span if.bind="requirements" class="requirements">(${ingredient.requirements})</span></span>
	</span>
</template>
