<template>
	<require from="app/shared/value-converters/uppercase-first-letter-format"></require>
	<require from="app/shared/components/measurable-ingredient"></require>

	<ai-dialog id="settings-modal" class="au-animate">
		<ai-dialog-header>
			<h3 i18n="settings.title">Settings</h3>
		</ai-dialog-header>

		<ai-dialog-body>
			<section class="section">
				<h5 i18n="settings.volumeMeasureUnits">VolumeMeasureUnits</h5>

				<div class="row choice">
					<span class="col s12 m6 input-field" repeat.for="volumeDisplay of volumeDisplays">
						<input name="volume-units" type="radio" id="volume-units-${volumeDisplay.name}" value.bind="volumeDisplay.name" checked.bind="$parent.settings.selectedVolumeDisplay" />
						<h5>${'settings.volumeDisplays.' + volumeDisplay.name | t}</h5>
						<label class="btn col s12 waves-effect" for="volume-units-${volumeDisplay.name}">
							<div repeat.for="example of volumeDisplay.examples">
								<measurable-ingredient unit.bind="$parent.volumeDisplay.name" ingredient.bind="example" containerless></measurable-ingredient>
							</div>
						</label>
					</span>
				</div>
			</section>

			<hr />

			<section class="section">
				<h5 i18n="settings.weightMeasureUnits">WeightMeasureUnits</h5>

				<div class="row choice">
					<span class="col s12 m6 input-field" repeat.for="weightDisplay of weightDisplays">
						<input name="weight-units" type="radio" id="weight-units-${weightDisplay.name}" value.bind="weightDisplay.name" checked.bind="$parent.settings.selectedWeightDisplay" />
						<h5>${'settings.weightDisplays.' + weightDisplay.name | t}</h5>
						<label class="btn col s12 waves-effect" for="weight-units-${weightDisplay.name}">
							<div repeat.for="example of weightDisplay.examples">
								<measurable-ingredient unit.bind="$parent.weightDisplay.name" ingredient.bind="example" containerless></measurable-ingredient>
							</div>
						</label>
					</span>
				</div>
			</section>
		</ai-dialog-body>

		<ai-dialog-footer>
			<button click.trigger="controller.cancel()" class="modal-action modal-close waves-effect btn-flat" i18n="settings.cancelButton">Cancel</button>
			<button click.trigger="controller.ok(settings)" class="modal-action modal-close waves-effect btn-flat" i18n="settings.okButton">Ok</button>
		</ai-dialog-footer>
	</ai-dialog>
</template>
