.E133 .about-header-container {
    background-image: url(/dist/app/website/about/assets/images/garlic.jpg);
    background-size: cover;
    height: 500px;
    position: relative;
    h1 {
        padding: 160px 0 0 0;
        margin: 0;
        text-align: center;
    }
}

.E133 {
    .team-wrapper {
        margin-bottom: 25px;
    }
    .about-name {
        margin: 0;
        padding: 0;
        font-weight: 600;
        line-height: 1.5;
    } 
    .about-img { 
        border-radius: 8px;
        height: auto;
        max-width: 140px;
    }
    .about-desc {
        line-height: 1.5;
        margin: 0;
        padding: 0;
    }
}

.E133 .about-intro {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 10px;
    h2 {
        font-size: 36px;
    }
}

.E133 .administration {
    span.badge {
        font-weight: 300;
        font-size: 0.8rem;
        color: #fff;
        background-color: #26a69a;
        border-radius: 2px;
    }
    
    .tabs .tab .collection {
        margin: 0;
        height: 48px;
        line-height: 48px;

        .collection-item {
            padding: 0;
            background-color: #fff;
            color: #ee6e73;
            top: 27%;
            position: absolute;
        }
    }

    .container .collection .collection-item {
        padding: 10px 0; 
        .title {
            width: 100%;
            color: #26a69a;
        }
        .secondary-content {
            float: none;
            position: relative;
            top: 0;
            right: 0;
        }
    }
}
