<template>
    <require from="app/quick-recipe/follow-recipe/components/settings-panel"></require>

    <h3 class="row center-align">
        <a md-sidenav-collapse="ref.bind: settingsnav;" class="col s12 white-text">
            <i class="material-icons">menu</i>
        </a>
    </h3>

	<md-sidenav view-model.ref="settingsnav">
		<ul class="side-nav" style="transform: translateX(0px);">
            <li>
				<div class="side-nav__brand-logo">
					<img class="" src="/dist/app/shared/assets/images/transparent_file.png">
				</div>
			</li>

			<li><div class="divider"></div></li>
			<li><h5 class="side-nav__header center-align">${'quickRecipe.settings' | t}</h5></li>
    		<li><div class="divider container"></div></li>

			<li>
                <ul md-collapsible>
    				<settings-panel containerless></settings-panel>

                    <li><div class="divider container"></div></li>
                    <li class="collection-item">
                        <div class="collapsible-header center-align">${'quickRecipe.actions' | t}</div>
                        <div class="collapsible-body">
                            <ul>
                                <li class="action">
                                    <a click.delegate="reportRecipe()" class="secondary-content">
                                        <i class="material-icons">report_problem</i>${'quickRecipe.reportProblem' | t}
                                    </a>
                                    <a href="#/contact/" class="secondary-content">
                                        <i class="material-icons">comments</i>${'contact.pageTitle' | t}
                                    </a>
                                </li>
                                <li if.one-time="isAdmin" class="action">
                                    <a click.delegate="editRecipe()" class="secondary-content">
                                        <i class="material-icons">mode_edit</i>${'quickRecipe.edit' | t}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><div class="divider container"></div></li>
                </ul>
			</li>
		</ul>
	</md-sidenav>
</template>
