.cook-it-now {
	dialog-container {
		transition: none;
		
		.settings-modal.modal {
			display: block;
			margin: auto !important;
			top: 10%;
				
			.modal-header {
				position: absolute;
				height: 95px;
				width: 100%;
			}
			
			.modal-content {
				height: calc(100% - 152px);
				position: absolute;
				top: 95px;
			}
		}
	}
	dialog-container.active {
		top: 0;
	}
	
	dialog-overlay.active {
		background: rgba(0, 0, 0, 0.5);
	}
	
	.modal.au-enter {
		opacity: 0!important;
		top: 0!important;
	}
	.modal.au-enter-active {
		animation: slideIn 0.35s ease-in-out;
	}
	.modal.au-leave-active {
		animation: slideOut 0.25s ease-in-out;
	}
	
	@keyframes slideIn {
		0% {
			opacity: 0;
			top: 0; 
			transform: scale(0.7, 0.7);
		}
		100% { 
			opacity: 1;
			top: 10%;
			transform: scale(1, 1);
		}
	}
	@keyframes slideOut {
		0% { 
			opacity: 1;
			top: 10%;
			transform: scale(1, 1);
		}
		100%   {
			opacity: 0;
			top: 0; 
			transform: scale(0.7, 0.7);
		}
	}
}