.edit-recipe {
    #steps {
        .input-field {
            display: inline-block;

            .prefix {
                width: 1rem;
                font-size: 1rem;
                top: 25%;
                opacity: 0.5;
            }

            .prefix ~ input,
            .prefix ~ textarea,
            .prefix ~ label,
            .prefix ~ .validate ~ label,
            .prefix ~ .autocomplete-content {
                margin-left: 2rem;
                width: calc(100% - 2rem);
            }
        }
    }

    .btn-delete i {
        opacity: 0.3;
    }
    .btn-delete:hover i {
        opacity: 1;
    }

    .select-wrapper + label {
        top: 0.8rem;
    }
}
