#welcome-container {
	nav {
		background-color: transparent;
		transition: background-color .2s;
		position: absolute;
		z-index: 999;
	}
	.input-field input[type=search]:focus {
		background-color: rgba(255, 255, 255, 0.7);
	}

	.btn,
	.btn-large {
		background-color: transparent;
		border: 2px solid white;
		border-radius: 0;
	}

	.container {
		width: 90%;
	}

	.col.offset-s3 {
		margin-left: 25%;
	}

	.underline-title {
		margin: 50px auto;

		.title {
			font-size: 2rem;
			font-weight: 600;
			margin: 50px auto 0;
		}
		.title + hr {
			width: 10%;
			margin: 20px auto 0;
			border: none;
			background-color: black;
			height: 3px;
		}
	}

	.popular-categories-container {
		padding: 30px 90px 50px;
		background: white;
		color: #2d2d2d;

		.row .col {
			padding: 0 0.4rem;
		}

		.card {
			color: white;
			text-transform: uppercase;
			border-radius: 0;

			.card-image {
				height: 240px;
				-webkit-filter: blur(1px);
				-moz-filter: blur(1px);
				-o-filter: blur(1px);
				-ms-filter: blur(1px);
				filter: blur(1px);

				img {
					height: 100%;
				}
			}
			.card-content {
				padding: 0;
				border-radius: 0;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.35);
			}
			.card-title {
				font-size: 3rem;
				line-height: 3rem;
				bottom: inherit;
				top: 0;
				width: 100%;
				height: 158px;

				div {
					width: 100%;
				}
			}
			.card-action {
				padding: 10px 0 35px;
				position: absolute;
				width: 100%;
				bottom: 0;
				border-top: none;

				a {
					color: white;
					margin: 0;
  					box-shadow: none;
					padding: 0px 22px;
					height: 100%;
					line-height: 42px;
				}
				a:hover {
					background-color: rgba(255, 255, 255, 0.2);
					transition: background-color .3s ease;
				}
			}
		}

		.browse-button {
			color: white;
			background: #8cbeb2;
			border: none;
		}
	}

	.features-container,
	.description-container {
		padding: 70px 90px 50px;
		background: #efefef;
		color: #2d2d2d;

		.row .col {
			padding: 0 1.5rem;
		}

		.icon {
			color: #8cbeb2;
			font-size: 5rem;
		}
		.promo-caption {
			font-weight: 600;
  			font-size: 1.2rem;
		}
		.light {
			color: #707070;
		}
	}

	.how-it-works-container,
	.moar-to-come-container {
		background: white;
		color: #2d2d2d;
		padding: 30px 90px 50px;

		.row .col {
			padding: 0 1rem;
		}

		.description {
			position: relative;

			.image {
				height: 100%;
				position: absolute;

				img {
					width: 100%;
				}
			}
			.image.right {
				right: 0;
			}
			.image.left {
				left: 0;
			}
		}

		.light {
			color: #707070;
		}

		ul, li {
			border: none;
		}
	}

	.search-container {
		background-image: url("/app/welcome/assets/images/teaser_bg.jpg");
		height: 500px;
		position: relative;

		.recipe-search {
			padding: 40px 0;
			position: absolute;
			bottom: 0;
			width: 100%;

			.caret {
				display: none;
			}

			input {
				color: white;
				text-align: center;
				font-size: 1.6rem;
				text-transform: uppercase;
			}
		}
	}

	.primary-color {
		background-color: #8cbeb2;
	}
	.primary-color-text {
		color: #C35956;
	}
}
