<template>
	<label class="active">${ 'edit.step.part.enumeration' | t }</label>
	<ul class="collection">
		<li repeat.for="part of part.parts" class="collection-item row">
			<div class="col s1">
				<a class="btn-flat btn-floating btn-delete waves-effect waves-red" click.delegate="removePart(part)">
					<i class="material-icons red-text">delete</i>
				</a>
			</div>
			<div class="col s11">
				<compose model.bind="part" view-model="app/quick-recipe/edit-recipe/components/edit-${part.type}" containerless></compose>
			</div>
		</li>
		<div class="row">
			<a class="btn-flat waves-effect waves-red red-text" click.delegate="addIngredient()">
				<i class="material-icons left">add</i>${ 'edit.ingredient.addButton' | t }
			</a>
			<a class="btn-flat waves-effect waves-red red-text" click.delegate="addText()">
				<i class="material-icons left">add</i>${ 'edit.text.addButton' | t }
			</a>
			<a class="btn-flat waves-effect waves-red red-text" click.delegate="addQuantityOfIngredient()">
				<i class="material-icons left">add</i>${ 'edit.quantity.addButton' | t }
			</a>
		</div>
	</ul>
</template>
