<template>
	<require from="app/shared/value-converters/quantity-human-format"></require>

	<label class="active">${ 'edit.step.part.enumeration' | t }</label>
	<ul class="collection">
		<li repeat.for="ingredientPart of part.ingredients" class="collection-item row">
			<div class="col s1">
				<a class="btn-flat btn-floating btn-delete waves-effect waves-red" click.delegate="removeIngredient(ingredientPart)">
					<i class="material-icons red-text">delete</i>
				</a>
			</div>
			<div class="col s11">
				<select md-select value.two-way="ingredientPart.ingredient">
					<option repeat.for="possibleIngredient of possibleIngredients" model.bind="possibleIngredient">${possibleIngredient.quantity | quantityHumanFormat} ${possibleIngredient.name}</option>
				</select>
			</div>
		</li>
		<div class="row">
			<a class="btn-flat waves-effect waves-red red-text" click.delegate="addIngredient()">
				<i class="material-icons left">add</i>${ 'edit.ingredient.addButton' | t }
			</a>
		</div>
	</ul>
</template>
