<template>
	<span class="ingredient">
		<span class="value right-align">
			<select class="input-field right-align" if.bind="quantity.isConvertible()" materialize="select">
	            <option repeat.for="measureUnit of quantity.convertibleMeasureUnits" value.bind="measureUnit">
					${$parent.quantity.getQuantity(measureUnit)} ${measureUnit}
				</option>
	        </select>
			<span if.bind="!quantity.isConvertible()">
				${quantity.value}
			</span>
		</span> 
		<span class="unit">${localizedMeasureUnit}</span> 
		${nextWord}  
		<span class="type">${ingredientName}</span> 
	</span>
</template>