<template>
	<span class="ingredient">
		<span>
			<span class="value" if.bind="quantity.isConvertible() && quantity.getValidConvertibleMeasureUnits().length > 1" >
				<select class="input-field" value.bind="measureUnit" materialize="select">
		            <option repeat.for="measureUnit of quantity.getValidConvertibleMeasureUnits()" value.bind="measureUnit.value">${measureUnit.value}${$parent.localizedMeasureUnitFor(measureUnit.unit)}</option>
		        </select> 
			</span>
			<span if.bind="!quantity.isConvertible() || quantity.getValidConvertibleMeasureUnits().length == 1">
				<span class="value">${quantity.value}</span>
				<span class="unit">${localizedMeasureUnitFor(measureUnit)}</span>
			</span>
		</span> 
		${nextWord}  
		<span class="type">${ingredientName}</span> 
	</span>
</template>