@import "fonts";

@font-regular: "Roboto";
@font-thin: "Roboto Thin";
@font-bold: "Roboto Bold";
@font-light: "Roboto Light";
@font-color: #333;

@quick-recipe-background: #fff;
@quick-recipe-font-color: #333;

@quick-recipe-button-background: #337ab7;
@quick-recipe-button-border-color: #2e6da4;

@quick-recipe-list-border-color: #ddd;
@quick-recipe-list-background: #fff;

@quick-recipe-sidenav-link-color: #eae5af;
@quick-recipe-sidenav-hover-color: #000;

@quick-recipe-ingredient-color-color: pink;
@quick-recipe-ingredient-value-color: blue;
@quick-recipe-ingredient-unit-color: green;

@quick-recipe-step-done-color: green;
