<template>
    <div class="nav-wrapper container">
        <div class="col s12">
            <a href="#/" class="brand-logo">E133</a>
            <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#/home/about" i18n="nav.about">About</a></li>
                <li><a href="#/typeform" i18n="nav.contact">Contact</a></li>
                <li><a href="https://www.facebook.com/eleemenu/">Facebook</a></li>
                <li><a href="https://twitter.com/eleemenu">Twitter</a></li>
                <li><a href="#_" i18n="nav.lang" click.trigger="changeLocale()">Lang</a></li>
            </ul>
            <ul class="side-nav" id="mobile-menu">>
                <li><a href="#/home/about" i18n="nav.about">About</a></li>
                <li><a href="#/typeform" i18n="nav.contact">Contact</a></li>
                <li><a href="https://www.facebook.com/eleemenu/">Facebook</a></li>
                <li><a href="https://twitter.com/eleemenu">Twitter</a></li>
                <li><a href="#_" i18n="nav.lang" click.trigger="changeLocale()">Lang</a></li>
            </ul>
        </div>
    </div>
</template>