<template>
	<require from="value-converters/duration-format"></require>
	<require from="value-converters/ingredient-format"></require>
	<require from="value-converters/filter-on-property"></require>
	<require from="value-converters/step-item"></require>
	<require from="value-converters/compose"></require>
	
	<require from="widgets/step-action"></require>
	<require from="widgets/step-ingredient"></require>
	<require from="widgets/step-timer"></require>
	
	<div class="container">
		<section class="section">
			<div class="row">
				<h2>${recipe.title}</h2>
				<a href.bind="recipe.originalUrl"><small>Original recipe: ${recipe.originalUrl}</small></a>
			
				<summary>
					<p>${recipe.summary}</p>
				</summary>
		
				<p>Servings : ${recipe.originalServings}</p>
			</div>
			
			<div class="row">
				<section class="section">
					<h3>Durées</h3>
					<ul>
				        <li repeat.for="duration of recipe.durations">
							<span>${duration.title} : ${duration.time | durationFormat}</span>
				        </li>
					</ul>
				</section>
			</div>
			
			<div class="divider"></div>
			
			<div class="row">
				<section class="section">
					<h3>Ingrédients</h3>
					<div if.bind="recipe.subrecipes" repeat.for="subrecipe of recipe.subrecipes">
						<h4>${subrecipe.title}</h4>
						<ul class="collection">
							<li repeat.for="ingredient of $parent.recipe.ingredients | filterOnProperty:'subrecipeId':subrecipe.id" class="collection-item">
								${ingredient | ingredientFormat}
								<div if.bind="ingredient.replacements" repeat.for="replacement of ingredient.replacements">
									<div>ou</div>
									<small>${replacement | ingredientFormat}</small>
								</div>
							</li>
						</ul>
					</div>
					<div if.bind="!recipe.subrecipes">
						<ul class="collection">
							<li repeat.for="ingredient of recipe.ingredients" class="collection-item">
								${ingredient | ingredientFormat}
								<div if.bind="ingredient.replacements" repeat.for="replacement of ingredient.replacements">
									<div>ou</div>
									<small>${replacement | ingredientFormat}</small>
								</div>
							</li>
						</ul>
					</div>
				</section>
			</div>
			
			<div class="divider"></div>
			
			<div class="row">
				<section class="section active-timers card-panel z-depth-2 teal lighten-2 col m6 ${minimized ? 'minimized' : ''}" show.bind="activeTimers.length">
					<h4 class="white-text">Active timers</h4>
					<a click.trigger="toggleMinimizeActiveTimers()" class="trigger-minimized"><i class="material-icons small white-text">list</i></a>
					<ul class="collection">
						<li repeat.for="timer of activeTimers" class="collection-item avatar">
							<i class="material-icons circle ${timer.state == 'isAlmostDone' ? 'yellow' : timer.state == 'isAlmosterDone' ? 'red' : 'green'}">av_timer</i>
							<span class="title">${timer.action}</span>
							<p class="${timer.state == 'isAlmostDone' ? 'yellow-text' : timer.state == 'isAlmosterDone' ? 'red-text' : 'green-text'}">${timer.remainingTime} of ${timer.duration | durationFormat}</p>
							<span class="secondary-content">
								<a click.trigger="timer.pause()" show.bind="!timer.isPaused"><i class="material-icons">pause</i></a>
								<a click.trigger="timer.play()" show.bind="timer.isPaused"><i class="material-icons">play_arrow</i></a>
								<a click.trigger="timer.delete()"><i class="material-icons">delete</i></a>
							</span>							
						</li>
					</ul>
				</section>
			</div>
			
			<div class="row">
				<section class="section">
					<h3>Étapes</h3>
					<div if.bind="recipe.subrecipes" repeat.for="subrecipe of recipe.subrecipes">
						<h4>${subrecipe.title}</h4>
						<ol>
							<li repeat.for="step of $parent.recipe.steps | filterOnProperty:'subrecipeId':subrecipe.id"
								innerhtml.bind="step | stepItem:$parent.$parent.recipe.ingredients:$parent.$parent.timers"
								class="step">
							</li>
						</ol>
					</div>
					<div if.bind="!recipe.subrecipes">
						<ol>
							<li repeat.for="step of recipe.steps"
								innerhtml.bind="step | stepItem:$parent.recipe.ingredients:$parent.timers"
								class="step">
							</li>
						</ol>
					</div>
				</section>
			</div>
		</section>
	</div>
</template>
