<template>
	<require from="ValueConverters/duration-format"></require>
	<require from="ValueConverters/filter-on-property"></require>
	<require from="ValueConverters/step-item"></require>
		
	<section>
		<h2>${recipe.title}</h2>
		<a href.bind="recipe.originalUrl"><small>Original recipe: ${recipe.originalUrl}</small></a>
		
		<p>${recipe.summary}</p>
		
		<p>Servings : ${recipe.originalServings}</p>
		
		<section>
			<h3>Durées</h3>
			<ul>
		        <li repeat.for="duration of recipe.durations">
					<span>${duration.title} : ${duration.time | durationFormat}</span>
		        </li>
			</ul>
		</section>
		
		<section>
			<h3>Ingrédients</h3>
			<div>
				<div repeat.for="subrecipe of recipe.subrecipes">
					<h4>${subrecipe.title}</h4>
					<ul>
						<li repeat.for="ingredient of $parent.recipe.ingredients | filterOnProperty:'subrecipeId':subrecipe.id">
							<span>${ingredient.quantity.value} ${ingredient.quantity.originalMeasureUnit} ${ingredient.name}</span>
						</li>
					</ul>
				</div>
			</div>
		</section>
		
		<section>
			<h3>Étapes</h3>
			<div>
				<div repeat.for="subrecipe of recipe.subrecipes">
					<h4>${subrecipe.title}</h4>
					<ol>
						<li repeat.for="step of $parent.recipe.steps | filterOnProperty:'subrecipeId':subrecipe.id">
							<div innerhtml.bind="step.description | stepItem:$parent.$parent.recipe.ingredients"></div>
						</li>
					</ol>
				</div>
			</div>
		</section>
	</section>
</template>
