@import "../../../../shared/assets/css/variables";

.E133 #about-container {
    a {
        color: $link-color;
    }

    #header-background {
        background-color: $header-color;
        height: 60px;
    }

    .container {
        .row {
            padding: 0 20px;
        }
    }

    .technos-showcase {
        img {
            width: 200px;
        }
    }
}
