#about-container {

    #header-background {
        background-color: rgba(17, 124, 178, 1);
        height: 60px;
    }

    .container {
        background-color: #efefef;

        .row {
            padding: 0 20px;
        }
    }

    .technos-showcase {
        img {
            width: 200px;
        }
    }
}