@import "../../../../shared/assets/css/variables";

.E133 #contact-container {
    a {
        color: $link-color;
    }

    .website-page__banner {
        background-image: url(/dist/app/website/contact/assets/images/garlic.jpg);
    }

    .container {
        .row {
            padding: 0 20px;
        }
    }

    .contact-intro {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 0 20px;

        h2 {
            font-size: 36px;
        }
    }
}
