@import "../../../../shared/assets/css/variables";

.E133 #contact-container {
    a {
        color: $link-color;
    }

    .website-page__banner {
        background-image: url(/dist/app/website/contact/assets/images/garlic.jpg);
    }

	#description-container {
		padding: 3rem 2rem;
	}

    .container {
        .row {
            padding: 0 20px;
        }
    }

    .contact-form {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 0 20px;
    }
}
