<template>
	<require from="shared/value-converters/time-format"></require>
	<require from="shared/value-converters/duration-format"></require>
	<require from="shared/components/settings-modal"></require>
	
    <div class="navbar-fixed">
        <nav role="navigation">
            <div class="nav-wrapper">
                <div class="row">
                    <div class="left logo">
                        <a class="brand-logo left block-button" href="#">
                            Cook It Now
							<i class="material-icons small white-text">home</i>
                        </a>
					 
						<a click.trigger="editSettings()" class="modal-trigger block-button">
							<i class="material-icons small white-text">settings</i>
						</a>
                    </div>
					<div class="right info">
						<h3>
							<div class="header-dropdown recipe-info left">
								<a class="dropdown-button ${recipeInfoSectionActive ? 'active' : ''}" click.trigger="toggleMinimizeRecipeInfo()">
									<i class="material-icons left">arrow_drop_down</i>
									${recipe.title}
								</a>
								<div class="dropdown-content" show.bind="recipeInfoSectionActive">
									<div class="row">
										<div>
											<span i18n="quickRecipe.servings">Servings</span>${recipe.originalServings}
										</div>
									</div>
									
									<div class="row">
										<ul>
									        <li repeat.for="duration of recipe.durations">
												<span>${duration.title} : ${duration.time | durationFormat}</span>
									        </li>
										</ul>
									</div>
								</div>
							</div>
						
							<div class="header-dropdown active-timers right">
								<a if.bind="timerCoordinator.activeTimers.length" click.trigger="toggleMinimizeActiveTimers()" class="dropdown-button ${timerCoordinator.activeTimers.length ? 'active' : ''} au-animate">
									<i class="material-icons small white-text">av_timer</i>
								</a>
								<div class="dropdown-content" show.bind="timerCoordinator.activeTimers.length">
									<ul class="collection">
										<li repeat.for="timer of timerCoordinator.activeTimers" class="collection-item avatar valign-wrapper active-timer au-animate">
											<i class="material-icons circle ${timer.state == 'isAlmostDone' ? 'yellow' : timer.state == 'isAlmosterDone' ? 'red' : 'green'}">av_timer</i>
											<span class="title">${timer.action}</span>
											<p class="${timer.state == 'isAlmostDone' ? 'yellow-text' : timer.state == 'isAlmosterDone' ? 'red-text' : 'green-text'}">
												<span>${timer.remainingTime | timeFormat}</span>
												<span i18n="quickRecipe.timerTimeOfTotal">Of</span>
												<span>${timer.originalTime | timeFormat}</span>
											</p>
											<span class="secondary-content">
												<a click.trigger="timer.replay()"><i class="material-icons">replay</i></a>
												<a click.trigger="timer.delete()"><i class="material-icons">delete</i></a>
											</span>							
										</li>
									</ul>
								</div>
							</div>
						</h3>
					</div>
                </div>
            </div>
        </nav>
    </div>
</template>