<template>
	<require from="shared/value-converters/time-format"></require>
	<require from="shared/value-converters/duration-format"></require>
	<require from="shared/components/settings-modal"></require>

    <div class="navbar-fixed">
        <nav role="navigation">
            <div class="nav-wrapper">
                <div class="row">
                    <div class="left logo">
                        <a class="brand-logo left block-button" href="#">
                            Cook It Now
							<i class="material-icons small white-text">home</i>
                        </a>
						<a click.trigger="editSettings()" class="modal-trigger block-button">
							<i class="material-icons small white-text">settings</i>
						</a>
                    </div>
					<div class="right info">
						<h3>
							<div class="active-timers right">
								<a click.trigger="toggleMinimizeActiveTimers()" class="block-button ${activeTimersSectionActive ? 'active' : ''} au-animate">
									<i class="material-icons small white-text">av_timer</i>
								</a>
								<div class="dropdown-content au-animate" if.bind="activeTimersSectionActive">
									<ul class="collection">
										<li repeat.for="timer of timerCoordinator.activeTimers" class="collection-item avatar valign-wrapper active-timer au-animate">
											<i class="material-icons prefix">av_timer</i>
											<form submit.delegate="startTimer(timer)">
												<input type="text" placeholder="${'quickRecipe.timerDescription' | t}" value.bind="timer.action" focus.bind="timer.isEditingDescription">
												<input type="text" placeholder="${'quickRecipe.timerDuration' | t}" value.bind="timer.duration" if.bind="timer.remainingTime === timer.originalTime">

												<button click.trigger="startTimer(timer)" class="${timer.duration ? '' : 'disabled'}" if.bind="timer.remainingTime === timer.originalTime"><i class="material-icons">play_arrow</i></button>
											</form>

											<span class="${timer.state == 'isAlmostDone' ? 'yellow-text' : timer.state == 'isAlmosterDone' ? 'red-text' : ''}" if.bind="timer.remainingTime !== timer.originalTime">
												<span>${timer.remainingTime | timeFormat}</span>
												<span i18n="quickRecipe.timerTimeOfTotal">Of</span>
												<span>${timer.originalTime | timeFormat}</span>
											</span>

											<a click.trigger="timer.replay()" if.bind="timer.remainingTime !== timer.originalTime"><i class="material-icons">replay</i></a>
											<a click.trigger="removeTimer(timer)"><i class="material-icons">delete</i></a>
										</li>
                                        <li class="collection-item avatar valign-wrapper">
											<a click.trigger="addTimer()" class="add-timer">
												<span class="btn-floating red">
													<i class="material-icons">add</i>
												</span>
												<span class="title" i18n="quickRecipe.timerAddButton">Add</span>
											</a>
                                        </li>
									</ul>
								</div>
							</div>
						</h3>
					</div>
                </div>
            </div>
        </nav>
    </div>
</template>
