.quick-recipe {
    .step.au-enter {
        opacity: 0!important;
    }
    .step.au-enter-active {
        -webkit-animation: fadeIn 3s ease-in-out;
        -moz-animation: fadeIn 3s ease-in-out;
        animation: fadeIn 3s ease-in-out;
    }
    
    .active-timers .dropdown-button.au-enter-active {
        -webkit-animation: backgroundHighlight 2s ease-in-out;
        -moz-animation: backgroundHighlight 2s ease-in-out;
        animation: backgroundHighlight 2s ease-in-out;
    }
    .active-timers .dropdown-button.au-leave-active {
        -webkit-animation: fadeIn 0.8s ease-in-out reverse;
        -moz-animation: fadeIn 0.8s ease-in-out reverse;
        animation: fadeIn 0.8s ease-in-out reverse;
    }
    
    .active-timer.au-leave-active {
        -webkit-animation: fadeIn 0.5s ease-in-out reverse;
        -moz-animation: fadeIn 0.5s ease-in-out reverse;
        animation: fadeIn 0.5s ease-in-out reverse;
    }

    @-webkit-keyframes fadeIn {
        0%   { opacity: 0; }
        100% { opacity: 1; }
    }
    @-moz-keyframes fadeIn {
        0%   { opacity: 0; }
        100% { opacity: 1; }
    }
    @keyframes fadeIn {
        0%   { opacity: 0; }
        100% { opacity: 1; }
    }
    
    @-webkit-keyframes backgroundHighlight {
        0% { background-color: rgba(226, 225, 221, 0.3); }
        100% { background-color: rgba(29, 30, 34, 0.1); }
    }
    @-moz-keyframes backgroundHighlight {
        0% { background-color: rgba(226, 225, 221, 0.3); }
        100% { background-color: rgba(29, 30, 34, 0.1); }
    }
    @keyframes backgroundHighlight {
        0% { background-color: rgba(226, 225, 221, 0.3); }
        100% { background-color: rgba(29, 30, 34, 0.1); }
    }
}