@import "variables";

.quick-recipe {
    header {
        @media only screen and (min-width: 601px) {
            nav {
                line-height: $quick-recipe-header-height;
            }

            .navbar-fixed {
                height: 100%;
            }
        }

        height: $quick-recipe-header-height;

        nav {
            box-shadow: none;
            // background-color: rgba(29, 30, 34, 0.5);
            height: $quick-recipe-header-height;
            border-bottom: 1px solid rgb(102, 103, 111);

            a {
                // color: rgb(213, 217, 225);
            }

            h3 {
                margin: 0;
            }

            .block-button {
                display: inline-block;
                overflow-x: hidden;
                cursor: pointer;

                i {
                    height: 100%;
                    line-height: $quick-recipe-header-height;
                    display: inline-block;
                    width: $quick-recipe-header-height;
                    text-align: center;
                }
            }
            .block-button:hover,
            .block-button.active {
                background-color: rgba(226, 225, 221, 0.1);
            }

            .logo {
                width: calc(396px + 20px);
            }
            .info {
                width: calc(100% - 416px);
            }

            .dropdown-content {
                display: block;
                border: 1px solid #66676f;
                // background-color: rgba(29, 30, 34, 0.3);
                opacity: 1;
                min-width: 400px;
                // color: white;
            }

            .active-timers {
                right: 0;

                .dropdown-button {
                    width: $quick-recipe-header-height;
                    text-align: center;
                }

                .dropdown-content {
                    right: -1px;
                    top: calc($quick-recipe-header-height - 1px);
                    top: calc(70px - 1px);
                    padding: 10px;

                    .collection {
                        border: none;
                        margin: 0;

                        .collection-item {
                            // background: none;
                            padding: 10px 0;
                            min-height: inherit;

                            .circle {
                                position: initial;
                            }
                            form {
                                line-height: 64px;
                                height: 64px;
                            }
                            button {
                                display: inline-block;
                                color: #26a69a;
                                border: none;
                                background: none;
                                transition: background-color .3s;
                                font-size: 1rem;
                                padding: 0 15px;
                                cursor: pointer;
                            }
                            button:hover {
                                background-color: rgba(0, 0, 0, 0.1);
                            }
                            input {
                                margin: 0 10px;
                                width: initial;
                                color: #26a69a;
                                border-bottom-color: transparent;
                                vertical-align: top;
                                line-height: inherit;
                                height: inherit;
                            }
                            input:focus {
                                border-bottom-color: #26a69a;
                            }
                            a {
                                display: inline-block;
                                color: #26a69a;
                                line-height: 64px;
                                height: 64px;
                                padding: 0 15px;
                            }
                            p {
                                font-size: 1.2rem;
                            }
                            .btn-floating {
                                padding: 0;
                                margin: 0;
                                line-height: 37px;
                                height: inherit;
                            }

                            .secondary-content {
                                right: 0;

                                a {
                                    display: inline-block;
                                    padding: 0;
                                    color: inherit;

                                    i {
                                        height: inherit;
                                        line-height: inherit;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
