$quick-recipe-ingredients-side-width: 396px;
$quick-recipe-ingredients-side-collapsed-width: 40px;

$quick-recipe-first-level-opacity: 0.3;
$quick-recipe-second-level-opacity: 0.1;

$quick-recipe-first-level-padding: 60px;
$quick-recipe-second-level-padding: 140px;

$quick-recipe-header-height: 70px;

$quick-recipe-footer-height: 42px;

$font-fancy: "Chocolate Box";
$font-fancy-decorative: "Chocolate Box Decorative";
