<template>
	<ai-dialog id="help-overlay" class="modal modal-fixed-footer au-animate">
		<ai-dialog-body class="modal-content">
            <div class="slider" materialize="slider">
                <ul class="slides">
                    <li class="overlay-item-back-to-current">
                        <img src="dist/app/quick-recipe/assets/images/helpBackToCurrentStep.png" class="x-right y-bottom">
                        <div class="caption left-align">
                            <h3 i18n="help.backToCurrentStepTitle"></h3>
                            <h5 class="light grey-text text-lighten-3" i18n="help.backToCurrentStepDescription"></h5>
                        </div>
                    </li>
                    <li class="overlay-item-complete-step">
                        <img src="dist/app/quick-recipe/assets/images/helpCompleteStep.png" class="x-right y-bottom">
                        <div class="caption center-align">
                            <h3 i18n="help.completeStepTitle"></h3>
                            <h5 class="light grey-text text-lighten-3" i18n="help.completeStepDescription"></h5>
                        </div>
                    </li>
                    <li class="overlay-item-timers">
                        <img src="dist/app/quick-recipe/assets/images/helpTimers.png" class="x-right y-top">
                        <div class="caption left-align bottom">
                            <h3 i18n="help.timersTitle"></h3>
                            <h5 class="light grey-text text-lighten-3" i18n="help.timersDescription"></h5>
                        </div>
                    </li>
                    <li class="overlay-item-settings">
                        <img src="dist/app/quick-recipe/assets/images/helpSettings.png" class="x-right y-top">
                        <div class="caption center-align bottom">
                            <h3 i18n="help.settingsTitle"></h3>
                            <h5 class="light grey-text text-lighten-3" i18n="help.settingsDescription"></h5>
                        </div>
                    </li>
                </ul>
            </div>
		</ai-dialog-body>

		<ai-dialog-footer class="modal-footer">
            <button click.trigger="controller.ok()" class="modal-action modal-close waves-effect btn-flat" i18n="help.okButton">Ok</button>
            <button click.trigger="next()" class="waves-effect btn-flat"><i class="material-icons">keyboard_arrow_right</i></button>
			<button click.trigger="previous()" class="waves-effect btn-flat"><i class="material-icons">keyboard_arrow_left</i></button>
		</ai-dialog-footer>
	</ai-dialog>
</template>
