<template>
	<div class="recipe-progression">
		<span repeat.for="subrecipe of subrecipes & oneTime" with.bind="subrecipe" if.bind="steps.length" style="flex-grow: ${steps.length};" class="recipe-progression__subrecipe">
			<div class="recipe-progression__subrecipe__title">
				<a click.delegate="goToSubrecipe(id)" class="${$this.activeSubrecipeId === id ? 'active' : ''} ${$this.currentStep.subrecipeId > id ? 'done' : ''}">
					<span>${title}</span>
					<span class="progression">${completedSteps}/${steps.length}</span>
				</a>
			</div>
			<div class="recipe-progression__subrecipe__steps">
				<a repeat.for="step of steps & oneTime" click.delegate="goToStep(step.id)" class="recipe-progression__subrecipe__steps__step ${$this.currentStep.id === step.id ? 'active' : ''} ${$this.currentStep.id > step.id ? 'done' : ''}">
					<div class="content"></div>
				</a>
			</div>
		</span>
	</div>
</template>
