<template>
	<form submit.delegate="send()" role="form" novalidate>
		<div class="row">
			<div class="input-field col s8 offset-s2">
				<textarea value.bind="comments" id="comments" rows="6"></textarea>
				<label for="comments" class="">Your message</label>
			</div>
		</div>
		<div class="row">
			<p class="center">Enter your email if you would like to receive updates</p>
			<div class="input-field col s8 offset-s2">
				<input value.bind="contactEmail" id="contactEmail" type="email">
				<label for="contactEmail" class="">Your email address</label>
			</div>
		</div>
		<div class="row" if.bind="isSent">
			<p>Thank you for your input, it is really important for us!</p>
		</div>
		<div class="row center">
			<button id="send-message" class="btn btn-large btn-success waves-effect waves-light">
				Send
				<i class="material-icons right">send</i>
			</button>
		</div>
	</form>
</template>