<template>
	<require from="shared/value-converters/uppercase-first-letter-format"></require>
	
	<dialog class="settings-modal modal modal-fixed-footer au-animate" id="settings-modal">
		<dialog-header class="modal-header">
			<h3 i18n="settings.title">Settings</h3>
		</dialog-header>
		
		<dialog-body class="modal-content">
			<section class="section">
				<h5 i18n="settings.volumeMeasureUnits">VolumeMeasureUnits</h5>
				
				<div class="row choice">
					<span class="col s6 input-field" repeat.for="volumeDisplay of volumeDisplays">
						<input name="volume-units" type="radio" id="volume-units-${volumeDisplay.name}" value.bind="volumeDisplay.name" checked.bind="$parent.settings.selectedVolumeDisplay" />
						<h5>${'settings.volumeDisplays.' + volumeDisplay.name | t}</h5>
						<label class="btn col s12 waves-effect" for="volume-units-${volumeDisplay.name}">
							<div repeat.for="example of volumeDisplay.examples">${example}</div>
						</label>
					</span>
				</div>
			</section>
			
			<section class="section">
				<h5 i18n="settings.weightMeasureUnits">WeightMeasureUnits</h5>
				
				<div class="row input-field">
					<span class="col s6" repeat.for="weightOption of weightOptions">
						<input name="weight-measure-units" type="radio" id="weight-units-${weightOption}" value.bind="weightOption" checked.bind="$parent.settings.selectedWeightOption" />
						<label for="weight-units-${weightOption}">${'settings.weightOptions.' + weightOption | t}</label>
					</span>
				</div>
			</section>
		</dialog-body>
		
		<dialog-footer class="modal-footer">
			<button click.trigger="controller.cancel()" class="modal-action modal-close waves-effect btn-flat" i18n="settings.cancelButton">Cancel</button>
			<button click.trigger="controller.ok(settings)" class="modal-action modal-close waves-effect btn-flat" i18n="settings.okButton">Ok</button>
		</dialog-footer>
	</dialog>
</template>