<template>
	<require from="shared/value-converters/uppercase-first-letter-format"></require>
	
	<dialog class="settings-modal modal modal-fixed-footer" id="settings-modal">
		<dialog-header class="modal-header">
			<h3 i18n="settings.title">Settings</h3>
		</dialog-header>
		
		<dialog-body class="modal-content">
			<section class="section">
				<h5 i18n="settings.volumeMeasureUnits">VolumeMeasureUnits</h5>
				<div repeat.for="measureUnit of settings.convertibleVolumeMeasureUnits">
					<input type="checkbox" id="${measureUnit}" value.bind="measureUnit" checked.bind="$parent.settings.volumeMeasureUnits" />
					<label for="${measureUnit}">${'quantities.' + measureUnit | t: { 'context': 'full' } | uppercaseFirstLetterFormat}</label>
				</div>
			</section>
			
			<section class="section">
				<h5 i18n="settings.weightMeasureUnits">WeightMeasureUnits</h5>
				<div repeat.for="measureUnit of settings.convertibleWeightMeasureUnits">
					<input type="checkbox" id="${measureUnit}" value.bind="measureUnit" checked.bind="$parent.settings.weightMeasureUnitsterm" />
					<label for="${measureUnit}">${'quantities.' + measureUnit | t: { 'context': 'full' } | uppercaseFirstLetterFormat}</label>
				</div>
			</section>
		</dialog-body>
		
		<dialog-footer class="modal-footer">
			<button click.trigger="controller.cancel()" class="modal-action modal-close waves-effect btn-flat" i18n="settings.cancelButton">Cancel</button>
			<button click.trigger="controller.ok(settings)" class="modal-action modal-close waves-effect btn-flat" i18n="settings.okButton">Ok</button>
		</dialog-footer>
	</dialog>
</template>