<template>
    <div class="nav-wrapper container">
        <div class="col s12">
            <a href="#/" class="brand-logo">E133</a>
            <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <!--<li><a href="#/home/about">${'nav.about' | t}</a></li>-->
                <li><a href="#/typeform">${'nav.contact' | t}</a></li>
                <li><a href="https://www.facebook.com/eleemenu/" target="_blank">Facebook</a></li>
                <li><a href="https://twitter.com/eleemenu" target="_blank">Twitter</a></li>
            </ul>
            <ul class="side-nav" id="mobile-menu">>
                <!--<li><a href="#/home/about">${'nav.about' | t}</a></li>-->
                <li><a href="#/typeform">${'nav.contact' | t}</a></li>
                <li><a href="fb://page/1745012672451697">Facebook</a></li>
                <li><a href="twitter://user?user_id=747608306567495680">Twitter</a></li>
            </ul>
        </div>
    </div>
</template>
