.E133 #page-header {
    box-shadow: none;
    background-color: transparent;
    position: absolute;
    z-index: 999;
    height: 80px;
    line-height: 80px;

    .navigation {
        &__route {
            a {
                line-height: 64px;
            }
        }
        ul.dropdown-content a {
            line-height: normal;
        }
    }

    .brand-logo {
        height: 100%;
		width: auto;
        display: inline-flex;

		img {
			height: 50px;
		}
	}

    .logo-link {
        padding: 0 10px;

        img {
            height: 32px;
            vertical-align: middle;
        }
    }

	/* TODO: Find a better way! */
	#adminDropdown {
    	width: 150px !important;
    	top: 60px !important;
	}

	#adminDropdown a {
		line-height: normal;
	}
}
