.E133 #page-header {
    box-shadow: none;
    background-color: transparent;
    position: absolute;
    z-index: 999;
    height: 80px;
    line-height: 80px;

    .brand-logo {
        height: 100%;
		width: auto;
        display: inline-flex;

		img {
			height: 50px;
		}
	}
}
