<template>
	<div class="nav-wrapper container">
		<div class="col s12">
			<a md-sidenav-collapse="ref.bind: sideNavLeft;" class="button-collapse"><i class="material-icons">menu</i></a>
			<md-navbar>
				<a if.bind="!isHomepage()" id="logo-container" href="#" class="brand-logo">
					<img src="/dist/app/shared/assets/images/transparent_file_white.png">
				</a>
				<ul class="navigation right hide-on-med-and-down">
					<li repeat.for="row of router.navigation" if.bind="row.config.name" class="navigation__route ${row.isActive ? 'active' : ''}">
						<a route-href="route.one-time: row.config.route">${'nav.' + row.config.name | t}</a>
					</li>
					<li class="navigation__route">
						<a href="https://www.facebook.com/eleemenu/" target="_blank" class="logo-link">
							<img src="/dist/app/shared/assets/images/facebook-logo.png" alt="facebook">
						</a>
					</li>
					<li class="navigation__route">
						<a href="https://twitter.com/eleemenu" target="_blank" class="logo-link">
							<img src="/dist/app/shared/assets/images/twitter-logo.png" alt="twitter">
						</a>
					</li>
				</ul>
			</md-navbar>
			<md-sidenav view-model.ref="sideNavLeft">
				<ul>
					<li repeat.for="row of router.navigation" if.bind="row.config.name" class="item ${row.isActive ? 'active' : ''}">
						<a route-href="route.one-time: row.config.route">${'nav.' + row.config.name | t}</a>
					</li>
					<li>
						<a href="fb://page/1745012672451697">Facebook</a>
					</li>
					<li>
						<a href="twitter://user?user_id=747608306567495680">Twitter</a>
					</li>
				</ul>
			</md-sidenav>
		</div>
	</div>
</template>
