.recipe-progression {
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;

    &__subrecipe {
        &__title {
            padding-left: 10px;

            a {
                transition: color 200ms ease-in-out;
                color: rgba(255, 255, 255, 0.33);

                &:hover {
                    color: rgba(255, 255, 255, 0.66);
                }
                &.active {
                    color: rgba(255, 255, 255, 1);
                }
            }
        }

        &__steps {
            display: flex;

            &__step {
                flex-grow: 1;
                transition: color 500ms ease-in-out;
                color: rgba(255, 255, 255, 0.33);

                .content {
                    width: 100%;

                    &:after {
                        content: "\00B7";
                        text-align: center;
                        display: block;
                        font-size: 2rem;
                    }
                }
                &.done {
                    color: rgba(255, 255, 255, 0.1);
                }
                &.active,
                &:hover {
                    color: rgba(255, 255, 255, 1);
                }
            }
        }
    }

    @media #{$small-and-down} {
        .subrecipe-title {
            font-size: 0.9rem;
        }
    }
}
