.recipe-progression {
    display: flex;
    position: fixed;
    width: 100%;
    height: 34px;
    bottom: 0;

    .subrecipe-title {
        display: inline-block;
        height: inherit;
        position: relative;

        a {
            left: 10px;
            position: absolute;
            top: 0;
            color: rgba(255, 255, 255, 0.7);
        }

        .progression-steps {
            line-height: 5px;
            position: absolute;
            width: 100%;
            bottom: 0;
            padding-right: 1px;
            display: flex;

            .progression-step {
                flex-grow: 1;
                height: 5px;
                background-color: rgba(255, 255, 255, 0.3);

                .content {
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.7);
                    width: 0;
                }
                &.done .content {
                    width: 100%;
                    transition: width 500ms ease-in-out;
                }
            }
        }

        &.active {
            a {
                color: rgba(255, 255, 255, 1);
            }
            .progression-steps {
                .progression-step {
                    .content {
                        background-color: rgba(255, 255, 255, 1);
                    }
                }
            }
        }
    }
}
