.E133 {
    @import "side-nav";
    @import "recipe-progression";
    @import "help-overlay";
    @import "animations";
    @import "../../../../shared/assets/css/variables";

    .quick-recipe-background {
        background-size: cover;
        height: 100vh;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(10px);
        position: fixed;
        left: 0;
        right: 0;
        z-index: -1;
        margin: 0 -20px;
    }

    .quick-recipe {
        font-family: "Lato", sans-serif;

        header {
            position: absolute;
            width: 100%;
        }

        main {
            background-color: rgba(0, 0, 0, 0.5);
            position: fixed;
            left: 0;
            right: 0;

            height: 100vh;
            margin-bottom: 0;

            .recipe-title {
                bottom: 65%;
                width: 80%;
                left: 10%;
                position: absolute;
                text-align: center;
                text-transform: uppercase;
                color: white;
                height: initial;
                font-family: "Suranna", serif;
                font-size: 3.8rem;
            }

            #instructions {
                height: 40%;
                top: 35%;
                width: 50%;
                left: 25%;
                position: absolute;
                overflow: hidden;
                overflow-y: auto;

                #presentation-section {
                    background-color: rgba(255, 255, 255, 0.8);
                    overflow-y: inherit;
                }

                #recipe-content {
                    height: 100%;

                    .btn {
                        background-color: rgba(255, 255, 255, 0.2);

                        &.disabled,
                        &:disabled {
                            background-color: rgba(255, 255, 255, 0.075) !important;
                        }
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.4);
                        }
                    }

                    .navigation-pills {
                        z-index: 1;
                        position: fixed;
                        top: 40%;
                        right: 0;
                        width: 80px;
                        margin: 0 10px;

                        .btn {
                            display: block;
                            margin: 2px 0;
                            padding: 0 1rem;

                            &:first-of-type {
                                border-radius: 20px 20px 0 0;
                            }
                            &:last-of-type {
                                border-radius: 0 0 20px 20px;
                            }
                        }
                    }

                    .step {
                        height: 100%;
                        font-size: 1em;
                        transition: opacity 0.2s ease-in-out, font-size 0.1s ease-in-out;
                        display: block;
                        position: relative;

                        .enumeration {
                            margin: 1.3rem 0;

                            .collection-item {
                                padding: 3px 0;
                                background-color: transparent;

                                .emphasis {
                                    font-weight: 400;
                                    font-size: initial;
                                }
                            }
                        }

                        .emphasis {
                            font-weight: 600;
                            font-size: 1.8rem;
                        }

                        .technical {
                            font-size: 1.8rem;
                        }

                        .timer {
                            a {
                                font-size: 1rem;
                            }
                            .btn {
                                padding: 0 1rem;
                                margin: 0 1rem;
                            }
                        }
                        &.active {
                            opacity: 1;
                        }
                        &.complete {
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }

        @media #{$small-and-down} {
            main #instructions #recipe-content {
                .step {
                    padding: 4rem 1rem;

                    .enumeration {
                        margin: 1rem 0 1rem 1rem;

                        .collection-item {
                            padding: 10px 0;
                            .emphasis {
                                font-size: 1.3em;
                            }
                        }
                    }
                    .emphasis {
                        font-size: 1.5em;
                    }
                    .technical {
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}
