@import "variables";
@import "materialize";
@import "material-design-lite-skeleton";
@import "core";

// Core elements importation
.E133 {
    html,
    body, h1, h2, h3, button {
        height: 100%;
        font-family: $font-raleway;
    }

    router-view {
        display: block;
    }

    p {
        line-height: 2rem;
        font-family: $font-raleway;
    }

    a {
        cursor: pointer;
        font-family: $font-raleway;
    }

    .button-collapse {
        color: #fff;
    }

    @media #{$medium-and-down} {
        .parallax-container .section {
            position: absolute;
            top: 40%;
        }
        #index-banner .section {
            top: 10%;
        }
    }

    @media #{$small-and-down} {
        #index-banner .section {
            top: 0;
        }
    }

    .icon-block {
        padding: 0 15px;
    }

    footer.page-footer {
        margin: 0;
    }

    .collection {
        overflow: visible;
    }

    .select-wrapper .mdi-navigation-arrow-drop-down {
        vertical-align: middle;
        line-height: 3rem;
        color: white;
    }

    .choice {
        [type="radio"]:checked ~ label.btn {
            outline: 1px solid #26a69a;
        }
        label.btn:before,
        label.btn:after {
            content: none;
        }
        label.btn {
            background-color: white;
            text-align: inherit;
            text-transform: none;
            height: inherit;
            padding: 0.75rem;
            cursor: pointer;
            top: 0;
            left: 0;
            position: relative;
            line-height: inherit;
            font-size: 0.9rem;
        }
    }

    // Global elements importation
    @import "navigation";
    @import "dialog";
}
