@import "variables";
@import "materialize";
@import "core";

// Core elements importation
html.E133 {
    height: 100%;
    font-family: $font-raleway;

    body, h1, h2, h3, button {
        height: 100%;
        font-family: $font-raleway;
    }

    router-view {
        display: block;
    }

    p {
        line-height: 2rem;
    }

    a {
        cursor: pointer;
    }

    .splash-wrapper {
        height: 100vh;

        .brand-logo {
            position: absolute;
            height: auto;
            width: 40%;
            top: 8rem;
            left: 30%;
        }
    }

    .row.short {
        margin-bottom: 0;
    }

    .light {
        font-weight: 300;
    }

    .button-collapse {
        color: #fff;
    }

    .icon-block {
        padding: 0 15px;
    }

    .collection {
        overflow: visible;
    }

    .select-wrapper .mdi-navigation-arrow-drop-down {
        vertical-align: middle;
        line-height: 3rem;
        color: white;
    }

    .website-page {
        &__banner {
            background-size: cover;
            height: 450px;
            position: relative;

            h1 {
                padding: 25% 0 0 0;
                margin: 0;
                text-align: center;
                text-transform: uppercase;
            }
        }
    }

	@media #{$small-and-down} {
        .splash-wrapper {
            .brand-logo {
                width: 80%;
                left: 10%;
            }
        }

        .website-page {
            &__banner {
                h1 {
                    padding: 70% 0 0 0;
                }
            }
        }
    }

    // Global elements importation
    @import "validations";
    @import "navigation";
    @import "dialog";
    @import "loading-overlay";
}
