.cook-it-now body {
  padding-top: 70px;
  font-family: "Roboto";
  color: #333333;
}
.cook-it-now .main {
  padding-bottom: 60px;
}
.cook-it-now form {
  margin-bottom: 30px;
}
.cook-it-now .full-height {
  height: 100%;
}
.cook-it-now .overflow-hidden {
  overflow: hidden;
}
.cook-it-now #how-it-works {
  margin: 60px 0;
}
.cook-it-now #how-it-works h2 {
  margin-bottom: 40px;
  text-transform: uppercase;
  font-family: "Roboto Thin";
  font-size: 38px;
}
.cook-it-now #how-it-works h2:before,
.cook-it-now #how-it-works h2:after {
  content: " - ";
}
.cook-it-now #how-it-works .step {
  margin: 60px 0;
}
.cook-it-now #how-it-works .step .description {
  padding: 10px 10px 20px 10px;
}
.cook-it-now #how-it-works .step .description h3 {
  text-transform: uppercase;
  font-family: "Roboto";
}
.cook-it-now #how-it-works .step .description p {
  font-size: 18px;
  font-family: "Roboto Light";
}
.cook-it-now #more-to-come h2 {
  margin-bottom: 40px;
  text-transform: uppercase;
  font-family: "Roboto Thin";
  font-size: 38px;
}
.cook-it-now #more-to-come p {
  font-size: 18px;
  font-family: "Roboto Light";
}
.cook-it-now .background-black {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .cook-it-now .background-black {
    z-index: 1050;
  }
  .cook-it-now .quick-recipe {
    z-index: 2000;
    top: 0;
    margin: 10px;
  }
  .cook-it-now .quick-recipe,
  .cook-it-now .quick-recipe.panel .panel-side {
    height: 97%;
  }
  .cook-it-now .quick-recipe .instructions > section {
    padding: 20px 0;
  }
  .cook-it-now .quick-recipe .instructions > section .navigation {
    right: 0px;
    bottom: 10px;
  }
  .cook-it-now .quick-recipe .instructions > section .navigation .btn-lg {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
  }
}
@media (min-width: 768px) {
  .cook-it-now .cook-it-now .background-black {
    z-index: 5;
  }
  .cook-it-now .quick-recipe {
    top: 50px;
    margin: 10px;
  }
  .cook-it-now .quick-recipe,
  .cook-it-now .quick-recipe.panel .panel-side {
    height: 91%;
  }
  .cook-it-now .quick-recipe .instructions > section {
    padding: 20px 0;
  }
  .cook-it-now .quick-recipe .instructions > section .navigation {
    right: 0px;
    bottom: 10px;
  }
}
@media (min-width: 992px) {
  .cook-it-now .quick-recipe {
    top: 100px;
    margin: 20px 80px;
  }
  .cook-it-now .quick-recipe,
  .cook-it-now .quick-recipe.panel .panel-side {
    height: 70%;
  }
  .cook-it-now .quick-recipe .instructions > section {
    padding: 40px 20px;
  }
  .cook-it-now .quick-recipe .instructions > section .navigation {
    right: 20px;
    bottom: 20px;
  }
}
.cook-it-now .quick-recipe {
  position: fixed;
  left: 0;
  background-color: transparent;
  border: none;
}
.cook-it-now .quick-recipe.panel .panel-body {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid transparent;
  border-radius: 0 4px 4px 0;
  height: 100%;
  overflow: hidden;
  padding: 0 15px;
  margin-left: 35px;
}
.cook-it-now .quick-recipe.panel .panel-side {
  position: fixed;
  z-index: 2;
}
.cook-it-now .quick-recipe.panel .panel-side .sidenav {
  height: 100%;
  width: 35px;
  opacity: 0.6;
  overflow: hidden;
}
.cook-it-now .quick-recipe.panel .panel-side .sidenav:hover {
  width: 165px;
  opacity: 1;
  transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
  background-color: #000000;
}
.cook-it-now .quick-recipe.panel .panel-side .sidenav ul {
  padding: 0 10px;
  width: 165px;
  position: relative;
  left: 0;
  top: 100px;
}
.cook-it-now .quick-recipe.panel .panel-side .sidenav ul > li > a {
  color: #eae5af;
}
.cook-it-now .quick-recipe.panel .panel-side .sidenav ul > li > a:hover {
  color: #d5cb5e;
  text-decoration: none;
}
.cook-it-now .quick-recipe.panel .panel-side .sidenav ul > li > a.done {
  text-decoration: line-through;
  opacity: 0.5;
}
.cook-it-now .quick-recipe.panel .panel-side .sidenav ul > li > a .glyphicon {
  margin-right: 10px;
  width: 15px;
  text-align: right;
}
.cook-it-now .quick-recipe .ingredients section > h2 {
  margin-top: 0;
}
.cook-it-now .quick-recipe .ingredients section > h2 small {
  text-transform: lowercase;
  font-size: 70%;
  font-family: "Roboto Light";
}
.cook-it-now .quick-recipe .ingredients ul > li {
  border: none;
  padding: 1px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cook-it-now .quick-recipe .instructions > section {
  height: 100%;
  position: relative;
}
.cook-it-now .quick-recipe .instructions > section > h1 {
  text-transform: uppercase;
  font-family: "Roboto Thin";
  font-size: 40px;
  margin: 10px 0 20px 0;
}
.cook-it-now .quick-recipe .instructions > section.step.done > h1 {
  color: green;
}
.cook-it-now .quick-recipe .instructions > section > h1 small {
  text-transform: lowercase;
  font-size: 50%;
  font-family: "Roboto Light";
}
.cook-it-now .quick-recipe .instructions > section .navigation {
  position: absolute;
}
.cook-it-now .quick-recipe .instructions .step .duration {
  font-size: 1.25em;
}
.cook-it-now .quick-recipe .instructions .step .duration .value-title {
  cursor: pointer;
}
.cook-it-now .quick-recipe .instructions .instruction {
  font-size: 1.5em;
}
.cook-it-now .quick-recipe .instructions .ingredient > .value {
  color: blue;
}
.cook-it-now .quick-recipe .instructions .ingredient > .type {
  color: green;
}
.cook-it-now .quick-recipe .instructions .ingredient > .name {
  color: pink;
}
.cook-it-now .quick-recipe .active-timers {
  border: 1px solid #dddddd;
  padding: 4px 10px;
  margin: 10px 0 20px 0;
}
.cook-it-now .quick-recipe .active-timers > .active-timer {
  padding: 6px 0;
  border-bottom: 1px solid #dddddd;
}
.cook-it-now .quick-recipe .active-timers > .active-timer:last-of-type {
  border-bottom: none;
}
.cook-it-now .hidden-input {
  display: inline;
  margin: 0 4px;
  border-color: transparent;
  border-radius: 0;
  box-shadow: none;
  padding: 3px 6px;
  -webkit-appearance: none;
}
.cook-it-now .hidden-input:hover,
.cook-it-now .hidden-input:focus {
  border: 1px solid #dddddd;
  -webkit-appearance: textfield;
  transition: border-color ease-in-out 0.4s, -webkit-appearance ease-in-out 0.4s;
}
.cook-it-now input.hidden-input:hover,
.cook-it-now input.hidden-input:focus {
  -webkit-appearance: textfield;
}
.cook-it-now select.hidden-input:hover,
.cook-it-now select.hidden-input:focus {
  -webkit-appearance: menulist;
}
.cook-it-now input.yield {
  width: 60px;
}
.cook-it-now .glyphicon.glyphicon-check {
  margin-right: 8px;
}
.cook-it-now .glyphicon.glyphicon-time {
  margin-right: 4px;
}
.cook-it-now #width_tmp {
  display: none;
}
